:root{
    --primary :#0077b6;
    --secondary:#caf0f8;
    --main:#7a3af0;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 2.2rem;
}
.main-container{
    display: flex;
}
.all-lists{
    cursor: pointer;
    margin: 3vmax;
}
.todo-list-container{
    margin: 3vmax;
}
.list-title{
    margin-bottom: 0;
}
.task input{
    height: 26px;
    width: 26px;
    border: none;
}
.delete{
    all: unset;
    font-size: 2rem;
    margin: 10px 10px 0px 0px;
    background-color: #ccc;
    padding: 10px;
    transition: background-color 300ms;

}
.delete:hover{
    background-color: #bbb9b9;
}
.new-list{
    all: unset;
    font-size: 2rem;
    border: none;
    background-color: #ccc;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 300ms;
}
.new-list:hover{
    background-color: #bbb9b9;
}
.new-list::placeholder{
    color: #242424;
}
form{
    display: flex;
    margin-top: 10px;

}

.btn-new-list{
    font-size: 3rem;
    padding: 0px 10px;
    background-color: #0077b6;
    color: #ffff;
    border: none;
    transition: background-color 300ms;
}
.btn-new-list:hover{
    background-color: #2a2a2a;
    color: #ffff;
}
.delete-btn:hover{
    background-color: rgb(250, 36, 36);
    color: white;
}

.task-count {
    margin-top: 0;
}
.active {
    font-weight: 900;
}
.slashed{
    text-decoration: line-through;
}